<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
  <head><script src="/assets/js/color-modes.js"></script>

    <title>Home Page</title>
    <style>
      body{
        background-image: url('assets/Images/home_page_three.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment:fixed;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


      }
      .custom_two{
        background-color: rgba(251, 251, 251, .9);
        border-radius: 5px;
      }
      
    </style>
</head>
<body>
  <div class="">

    

    {{ template "Header"}}
    <div class="container custom_two my-5">
        <div class="p-1 rounded">
          <div class="col-sm-8 py-5 mx-auto">
            <h1 class="display-5 fw-normal">Welcome To UCMS</h1>
            <p class="fs-5">This example shows how responsive offcanvas menus work within the navbar. For positioning of navbars, checkout the <a href="../examples/navbar-static/">top</a> and <a href="../examples/navbar-fixed/">fixed top</a> examples.</p>
            <p>From the top down, you'll see a dark navbar, light navbar and a responsive navbar—each with offcanvases built in. Resize your browser window to the large breakpoint to see the toggle for the offcanvas.</p>
            <p>
              <a class="btn btn-primary" href="../components/navbar/#offcanvas" role="button">Learn more about offcanvas navbars &raquo;</a>
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia saepe reprehenderit quaerat fugiat ipsam modi sit similique facere laborum. Ex veritatis magnam omnis nulla placeat esse quas explicabo consequatur nam.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores similique repellat quidem earum. Quasi exercitationem, facere earum tempora in sunt modi excepturi eum perspiciatis iure ipsam dicta reprehenderit quos a.</p>
        </div>
        </div>
      </div>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>

</body>
</html>